<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 配置数据库连接池 -->
    <!-- 加载配置文件 -->
    <context:property-placeholder location="classpath:properties/db.properties"/>

    <!-- 数据库连接池 -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="maxActive" value="10"/>
        <property name="minIdle" value="5"/>
    </bean>

    <!-- sqlSessionFactory -->
    <!-- 让spring管理sqlSessionfactory -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 数据库连接池 -->
        <property name="dataSource" ref="dataSource"/>
        <!-- 加载mybatis的全局配置文件 -->
        <property name="configLocation" value="classpath:./mybatis/MyBatis-Config.xml"/>
        <!--
            映射文件和接口文件不在同一个目录的时候
            它的spring是不会扫描jar包中的相应目录的，只会去他当前项目下获取。其实要改变这种情况很简单
            在classpath后面加一个*号，* 号的作用是让spring的扫描涉及全哥目录包括jar
        -->
        <property name="mapperLocations" value="classpath*:mapper/*.xml"/>
     </bean>

    <!-- Mapper接口文件的包扫描器 -->
    <!--
       MapperScannerConfigurer是为了解决MapperFactoryBean繁琐而生的，
       有了MapperScannerConfigurer就不需要我们去为每个映射接口去声明一个bean了。
       大大缩减了开发的效率。
    -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--basePackage：这个属性就是映射接口的包，这个包里面的所有的接口扫描到-->
        <property name="basePackage" value="com.biao.mapper"/>
    </bean>

</beans>